.filtering-container {
  padding: 30px 5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Dark-Mode-Background);
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: bolder;
}

.filtering-container.light-mode {
  background-color: var(--Light-Mode-Background);
}

.filtering-container.hide {
  display: none;
}

@media screen and (max-width: 614px) {
  .filtering-container {
    flex-direction: column;
    align-items: center;
  }
}

