.rf-container {
  background-color: transparent;
  color: var(--DMText-LMElement);
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.rf-container.light-mode {
  color: var(--Light-Mode-Text);
}

.rf-select-input {
  display: flex;
  justify-content: space-between;
  background-color: var(--Dark-Mode-Elements);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: inherit;
  

}

.rf-select-input.light-mode {
  background-color: var(--DMText-LMElement);
}

.rf-selected-region {
  margin-right: 20px;
}

.rf-select-icon {
  cursor: inherit;
}

.region-list {
  display: none;
}

.region-list.open {
  display: block;
  margin: 0;
  padding: 0;
  background-color: var(--Dark-Mode-Elements);
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 110%;
  width: 100%;
  list-style-type: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.region-list.light-mode {
  background-color: var(--Light-Mode-Background);
}

.region-list .region-item {
  cursor: pointer;
  margin: 10px 20px;
}

@media screen and (max-width: 614px) {
  .rf-container {
    margin-top: 15px;
  }
}
