* {
  box-sizing: border-box;
}
:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
}

.country-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-mode-elements);
  padding: 0;
  margin: 1rem;
  width: 250px;
  color: hsl(0, 0%, 100%);
}

.country-container > img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.country-info h4 {
  margin: 15px 0;
}
.country-info {
  width: 100%;
  padding: 10px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
