* {
  box-sizing: border-box;
}

.header-container {
  z-index: 5;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5rem;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--Dark-Blue);
  color: var(--White);
}

.header-title {
  font-size: 1rem;
  font-weight: 600;
}

.header-darkMode-icon {
  transform: rotate(-15deg);
  font-weight: 200;
  margin-right: 5px;
}

.header-title {
  color: var(--dark-mode-text);
  text-decoration: none;
}

.header-darkMode-button {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 300;
  color: var(--dark-mode-text);
}