.header-container {
  z-index: 5;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5rem;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--Dark-Mode-Elements);
  color: var(--DMText-LMElement);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 800;
}

.header-container.light-mode {
  background-color: var(--DMText-LMElement);
  color: var(--Light-Mode-Text);
}

.header-title {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--DMText-LMElement);
  text-decoration: none;
}

.header-title.light-mode {
  color: var(--Light-Mode-Text);
}

.header-darkMode-icon {
  transform: rotate(-15deg);
  font-weight: 200;
  margin-right: 5px;
}

.header-mode-button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: 300;
  color: var(--DMText-LMElement);
}

.header-mode-button.light-mode {
  color: var(--Light-Mode-Text);
}

@media screen and (max-width: 438px) {
  .header-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .header-mode-button{
    margin-top: 1rem 
  }
}