.searching-container{
    background-color: var(--Dark-Blue);
    padding: 10px 20px;
    color: var(--White);
    border-radius: 5px;
}


.searching-container > input{
    border: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    margin-left: 10px;
    width: 25ch;
}