.countries-container {
  padding: 0 5rem;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--Dark-Mode-Background);
}

.countries-container.light-mode{
  background-color: var(--Light-Mode-Background);
}
.countries-container.hide{
  display: none;
}

@media screen and (max-width: 659px){
  .countries-container{
    flex-direction: column;
    align-items: center;
  }
}
